<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes" method="POST">
      <label for="">Name: </label>
      <input type="text" name="name" value="">

      <label for="">Ingredients: </label>
      <input type="text" name="ingredients" value="">

      <label for="">Cook Time: </label>
      <input type="text" name="cook_time" value="">

      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
